.button {
    background: #4b51ef;
    border-radius: 5px;
    height: 24px;
    width: fit-content;
    padding: 0 15px 0 15px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
