.UserProfile {
    display: flex;
    flex-direction: column;
    width: 438px;
    margin-left: 188px;
}

.titleBock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0 10px 0;
}